html, body {
  background-color: #282828;
  color: #fff;

  width: 100%;
  max-width: 100vw;
  height: 100%;
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace;
}

#console {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 8px;

  border: none;
  margin: 0 auto;
}

span.wrapper {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.terminal-list {
  display: block;
  white-space: normal;
}

.terminal-list-item {
  display: block;
  padding-inline-start: 2ch;
  text-indent: -2ch;
}

.indented-list-item {
  display: block;
  padding-inline-start: 2ch;
}

.preformatted {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  overflow-x: auto;
  overflow-wrap: normal;
  white-space: pre;
}

.pgp-key {
  padding-inline-start: 2ch;
}

a {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

/* The inner console element. */

.jqconsole {
    padding: 30px;
    font-family: 'Ubuntu Mono', monospace;
}

/* The cursor. */

.jqconsole-cursor {
    color: #fff;
    opacity: 0.5;
    background-color: #fff;
}

/* The cursor color when the console loses focus. */

.jqconsole-blurred .jqconsole-cursor {
    color: #fff;
    background-color: #fff;
}

/* The current prompt text color */

.jqconsole-prompt {
    color: #fff;
}

/* The command history */

.jqconsole-old-prompt {
    color: #fff;
    font-weight: normal;
}

/* The text color when in input mode. */

.jqconsole-input {
    color: #fff;
}

/* Previously entered input. */

.jqconsole-old-input {
    color: #adabab;
    font-weight: normal;
}

/* The text color of the output. */

.jqconsole-output {
    color: #adabab;
}

.special, a {
    color: #66FF66;
}
